html, body {
	margin:0; padding:0;
	height:100%;
	font-family: helvetica;
	background-color: #fff;
	color: #000;
	overflow: hidden;
}

#floater {
	float: left;
	height: 30%;
}

#content {
	position: relative;
	clear: left;
	width:90%;
	margin: 0 auto;
}

.sharts {
	clear: both;
	position: relative;
	height: 300px;
}

.sharts article {
	left: 2000px;
	opacity: 0;
	position: absolute;
	width: 100%;
	font-size: 80px;
	padding-bottom: 50px;
}

.author {
	font-size: 24px;
	opacity: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}
