html, body {
	margin:0; padding:0;
	height:100%;
	font-family: 'Times New Roman';
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

a {
	color: #fff;
}

#floater {
	float: left;
	height: 25%;
}

#content {
	position: relative;
	clear: left;
	width:90%;
	margin: 0 auto;
}

.sharts {
	clear: both;
	position: relative;
	height: 300px;
}

.sharts article {
	left: 2000px;
	opacity: 0;
	position: absolute;
	width: 100%;
	padding-bottom: 50px;
	font-size: 120px;
	color: #2d2d2d;
	line-height: 20px;
	font-style: italic;
}

.sharts article span {
	font-size: 80px;
	color: #fff;
	line-height: 80px;
}

.sharts article em {
	font-weight: bold;
	display: inline-block;;
}

.author {
	font-size: 24px;
	opacity: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}
